<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<head>
    <title>Espace AgiLog</title>
    <link rel="stylesheet" href='{{ url_for("static", filename="1style.css") }}'>
</head>

<body>
  <div class="subheadercmdp">
      <section class="navbar">
          <nav>
          <a href="1index.html"><img src='{{ url_for("static", filename="3.png") }}' class="logo"></a>
          <ul>
            <li><a href="/">Accueil</a></li>xx
            <li><a href="/Client">Client</a></li>
            <li><a href="/AgiLean">AgiLean</a></li>
            <li><a href="/AgiLog">AgiLog</a></li>
          </ul>
          </nav>
      </section>
      <section class="cmdp">
          <div class="wrapper">
              <div class="imgpiece">
                  <section class="titrecol">
                      <h3>Pièce</h3><br><br>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xarc.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xatt.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xb14.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xb21.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xb22.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xequ.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xfe1.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xfe2.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xfen.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xg21.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xgb4.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xjan.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xmoy.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp11.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp12.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp13.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp14.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp16.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp21.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp22.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp24.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp28.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp44.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xpar.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xran.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xrou.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xsie.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xtoi.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xvol.png") }}'>
                  </section>
              </div>
              <div class="nompiece">
                  <section class="titrecol">
                      <h3>Description</h3><br><br>
                  </section>
                  <section class="colpieces">
                      <h5>Arceau</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Attache</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Brique 1x4</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Brique 2x1</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Brique 2x2</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Équerre</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Feu avant</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Feu arrière</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Fenêtre</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Grille</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Garde boue</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Jante</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Moyeu</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 1x1</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 2x12</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 1x3</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 1x4</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 1x6</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 2x1</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque lisse 2x2</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 2x4</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 2x8</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 4x4</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Pare-brise</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Renvoi d'angle</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Pneu</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Siège</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Toit</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Volant</h5>
                  </section>
              </div>
              <div class="qtepiece">
                  <section class="titrecol">
                      <h3>Quantité</h3><br><br>
                  </section>
                  <form action="/AgiLog/CommandePièce/replo" method="post">
                      <div>
                      <div class="qte">
                          <label for="qtea"></label>
                          <input type="number"
                           id="qtea"
                           name="qtea"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qteb"></label>
                          <input type="number"
                           id="qteb"
                           name="qteb"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qtec"></label>
                          <input type="number"
                           id="qtec"
                           name="qtec"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qted"></label>
                          <input type="number"
                           id="qted"
                           name="qted"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qtee"></label>
                          <input type="number"
                           id="qtee"
                           name="qtee"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qtef"></label>
                          <input type="number"
                           id="qtef"
                           name="qtef"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qteg"></label>
                          <input type="number"
                           id="qteg"
                           name="qteg"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qteh"></label>
                          <input type="number"
                           id="qteh"
                           name="qteh"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qtei"></label>
                          <input type="number"
                           id="qtei"
                           name="qtei"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qtej"></label>
                          <input type="number"
                           id="qtej"
                           name="qtej"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qtek"></label>
                          <input type="number"
                           id="qtek"
                           name="qtek"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qtel"></label>
                          <input type="number"
                           id="qtel"
                           name="qtel"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qtem"></label>
                          <input type="number"
                           id="qtem"
                           name="qtem"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qten"></label>
                          <input type="number"
                           id="qten"
                           name="qten"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qteo"></label>
                          <input type="number"
                           id="qteo"
                           name="qteo"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qtep"></label>
                          <input type="number"
                           id="qtep"
                           name="qtep"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qteq"></label>
                          <input type="number"
                           id="qteq"
                           name="qteq"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qter"></label>
                          <input type="number"
                           id="qter"
                           name="qter"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qtes"></label>
                          <input type="number"
                           id="qtes"
                           name="qtes"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qtet"></label>
                          <input type="number"
                           id="qtet"
                           name="qtet"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qtet"></label>
                          <input type="number"
                           id="qtet"
                           name="qtet"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qteu"></label>
                          <input type="number"
                           id="qteu"
                           name="qteu"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qtev"></label>
                          <input type="number"
                           id="qtev"
                           name="qtev"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qtew"></label>
                          <input type="number"
                           id="qtew"
                           name="qtew"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qtex"></label>
                          <input type="number"
                           id="qtex"
                           name="qtex"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qtey"></label>
                          <input type="number"
                           id="qtey"
                           name="qtey"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qtez"></label>
                          <input type="number"
                           id="qtez"
                           name="qtez"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qteaa"></label>
                          <input type="number"
                           id="qteaa"
                           name="qteaa"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qteab"></label>
                          <input type="number"
                           id="qteab"
                           name="qteab"
                           placeholder="0">
                      </div>
                      <div class="submit1">
                  <input type="submit" value="OK" class="btn">
                        </div>
                      </div>
                  </form>
              </div>
          </div>
      </section>
 </div>
 
 <h1>Récapitulatif de votre commande</h1>
 <p> {{message }}</p>

</body>


</html>