<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<head>
    <title>Espace AgiLog</title>
    <link rel="stylesheet" href='{{ url_for("static", filename="1style.css") }}'>
</head>

<body>
  <div class="subheadercmdp">
      <section class="navbar">
          <nav>
          <a href="1index.html"><img src='{{ url_for("static", filename="3.png") }}' class="logo"></a>
          <ul>
            <li><a href="/">Accueil</a></li>xx
            <li><a href="/Client">Client</a></li>
            <li><a href="/AgiLean">AgiLean</a></li>
            <li><a href="/AgiLog">AgiLog</a></li>
          </ul>
          </nav>
      </section>
      <section class="cmdp">
          <div class="wrapper">
              <div class="imgpiece">
                  <section class="titrecol">
                      <h3>Pièce</h3><br><br>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xarc.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xatt.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xb14.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xb21.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xb22.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xequ.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xfe1.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xfe2.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xfen.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xg21.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xgb4.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xjan.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xmoy.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp11.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp12.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp13.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp14.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp16.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp21.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp22.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp24.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp28.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xp44.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xpar.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xran.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xrou.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xsie.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xtoi.png") }}'>
                  </section>
                  <section class="colpieces">
                      <img src='{{ url_for("static", filename="xvol.png") }}'>
                  </section>
              </div>
              <div class="nompiece">
                  <section class="titrecol">
                      <h3>Description</h3><br><br>
                  </section>
                  <section class="colpieces">
                      <h5>Arceau</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Attache</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Brique 1x4</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Brique 2x1</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Brique 2x2</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Équerre</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Feu avant</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Feu arrière</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Fenêtre</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Grille</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Garde boue</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Jante</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Moyeu</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 1x1</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 2x12</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 1x3</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 1x4</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 1x6</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 2x1</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque lisse 2x2</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 2x4</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 2x8</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Plaque 4x4</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Pare-brise</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Renvoi d'angle</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Pneu</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Siège</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Toit</h5>
                  </section>
                  <section class="colpieces">
                      <h5>Volant</h5>
                  </section>
              </div>
              <div class="qtepiece">
                  <section class="titrecol">
                      <h3>Quantité</h3><br><br>
                  </section>
                  <form action="/AgiLog/CommandePièce/replo" method="post">
                      <div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="qte">
                          <label for="qte"></label>
                          <input type="number"
                           id="qte"
                           name="qte"
                           placeholder="0">
                      </div>
                      <div class="submit1">
                  <input type="submit" value="OK" class="btn">
                        </div>
                      </div>
                  </form>
              </div>
          </div>
      </section>
 </div>


</body>


</html>
