<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<head>
    <title>Espace Client</title>
    <link rel="stylesheet" href='{{ url_for("static", filename="1style.css") }}'>
</head>

<body>
  <div class="subheader">
      <section class="navbar">
          <nav>
          <a href="1index.html"><img src='{{ url_for("static", filename="3.png") }}' class="logo"></a>
          <ul>
              <li><a href="/">Accueil</a></li>xx
              <li><a href="/Client">Client</a></li>
              <li><a href="/Agilean">AgiLean</a></li>
              <li><a href="/Agilog">AgiLog</a></li>
          </ul>
          </nav>
      </section>
      <div class="pres">
        <h1>AgiWEB, qu'est-ce que c'est ?</h1>
        <p>AgiWEB est la plateforme digitale de l'excellence opérationnelle.<br> En plus d'être un site d'achat et de suivi, cet outil permet de <br>connecter les deux entreprises AgiLean et AgiLog <br>afin de garantir une meilleure efficacité au service du client.</p>
      </div>
 </div>


</body>


</html>
